.change-quote {
  margin-bottom: 30px;
  background-image: url("./assets/svg/reload.svg");  
}

.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.change-quote:hover {
  opacity: 1;
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}