@media only screen and (max-width: 1024px) {
  header {

    // max-width: 1024px;
    width: 100%;
    padding: 0 20px;
  }
  .header-container {
    height: 130px;
    // max-width: 1024px;
    width: 100%;
    justify-content: start;
  }

  .header-nav {
    display: none;
  }
}