/*    COMMON STYLE    */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: red;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  background-color: #030303;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*    END COMMON STYLE    */
/*  VIew page style     */
.outer-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #030303;
}
@media screen and (max-width: 1024px) {
  .outer-wrapper {
    max-width: 1024px;
  }
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 1024px;
  }
}

.nowrap {
  max-width: 1920px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .nowrap {
    max-width: 1024px;
  }
}

/* END VIEW PAGE STYLE    */
/*    HEADER STYLE   */
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 5;
  max-height: 150px;
  max-width: 1440px;
  width: 100%;
  margin: 0% auto;
  background-color: #030303;
}

.header-container-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 199px;
  width: 100%;
}
.header-container-logo .header-logo-logo {
  height: 26px;
  width: 49px;
  background-image: url("../assets/logo.svg");
}
.header-container-logo .header-logo-text {
  margin: 0;
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: 0.3s;
}
.header-container-logo .header-logo-text:hover {
  color: #9d8665;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 775px;
  width: 100%;
  background-color: #030303;
}
.header-nav-list .header-nav-item {
  margin-right: 55px;
}
.header-nav-list .header-nav-item:last-child {
  margin-right: 0;
}
.header-nav-list .header-nav-link {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 200;
  color: #fff;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 2px;
  transition: 0.3s;
}
.header-nav-list .header-nav-link:hover, .header-nav-list .header-nav-link:active {
  color: #9d8665;
}

/*      END HEADER STYLE      */
/*  MAIN SYLES    */
/* COMMON  MAIN STYLES    */
.section {
  padding: 75px 0;
}

.dark-section {
  background-color: #030303;
}

.video {
  padding-top: 90px;
}

/*    TITLES STYLE   */
.section-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
}

.gold-title {
  color: #9d8665;
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  width: 100%;
  background-color: #710707;
}

/*    END TITLES STYLE   */
/*   WELCOME SECTION (first slide)*/
.welcome-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 960px;
  padding: 0;
  background-image: url(../assets/mona.jpg);
  background-repeat: no-repeat;
  background-position: right bottom 60px;
}
.welcome-section .container {
  display: flex;
  flex-direction: column;
}
.welcome-section .container p {
  margin-top: 25px;
  margin-bottom: 75px;
}
.welcome-section .container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 75px;
  color: #fff;
  background-color: #710707;
  border-radius: 10px;
  transition: 0.1s;
}
.welcome-section .container a:hover, .welcome-section .container a:focus {
  text-decoration: underline;
  border: 1px solid #fff;
  filter: brightness(130%);
}

/*    VISITING SECTION    */
.visiting-cards {
  display: flex;
  flex-wrap: wrap;
  /*gap: TODO add this property for gap*/
}

.cards {
  display: block;
}

/*    END VISITING SECTION    */
/*    EXPLORE SECTION     */
.explore-section {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
