/*    COMMON STYLE    */
@import 'common.scss';
/*    END COMMON STYLE    */

/*    HEADER STYLE   */
@import 'header.scss';
@import 'header_1024.scss';
/*      END HEADER STYLE      */

/*  MAIN SYLES    */
@import 'main.scss';
@import 'main_1024';
/*    END MAIN  STYLES    */


/*   WELCOME SECTION (first slide)*/
@import "welcome_section";
@import "welcome_section_1024";
/*    END WELCOME SECTION   */

/*    VISITING SECTION    */
@import "visiting_section";
/*    END VISITING SECTION    */

/*    EXPLORE SECTION     */
@import 'explore.scss';
/*    END EXPLORE SECTION   */


/*    VIDEO SECTION   */
@import "video_section";
/*    END VIDEO SECTION   */

/*  GALLERY SECTION   */
@import "art_gallery.scss";
/*  END GALLERY SECTION   */

/*    TICKET SECTION   */
@import "tickets.scss";
/* END TIKET SECTION    */

/*    PARALLAX    */
.parallax {
  width: 100%;
  min-height: 400px;
  background-image: url(../assets/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
}
/*  END PARALLAX    */

/*   COTANCTS SECTION  */
@import "contacts_section";
/*   END CONTACTS SECTION    */

/*  FOOTER */
@import "footer.scss";
/*  END FOOTER    */