.video-module {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;

  .slider-container {
    display: flex;
    flex-direction: column;
  }
    
  .preview-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .preview-iframe {
    max-width: 452px;
  }
}

.dots-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  height: 12px;
  
  margin: 40px auto 0 auto;
}

.dot-btn {
  height: 12px;
  width: 12px;

  background-color: #999;
  border-radius: 50%;
}
