.slide {
  width: 1000px;
  height: 750px;
  background-image: url(../assets/1.jpg), linear-gradient(to left, rgba($bg-dark, 0), rgba($bg-dark, 0),rgba($bg-dark, 0), rgba($bg-dark, .5)); 
}
//  

.slide-control-wrapper {
  position: absolute;
  left: calc(50% + 120px);
  top: 840px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 600px;
  height: 120px;

  font-size: 22px;
  font-weight: 400;

  background-color: $bg-dark;

  .arrow-control {
    display: flex;
    justify-content: space-between;

    width: 80px;

    font-size: 38px;
  }

  .arrow:hover { cursor: pointer;}

  .square-control {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 180px;
  }
  .square {
    height: 16px;
    width: 16px;
    background-color: #fff;

    &:first-of-type {
      background-color: $font-gold;
    }

    &:hover { 
      background-color: #9d8665;
      cursor: pointer;
    }
  }


}