.video-section {

  .text-content {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }

  h2 {
    max-width: 610px;

    margin-bottom: 75px;
  }

  p {
    max-width: 720px;

    margin: 0;

    line-height: 38px;
    color: #000;
  }
}

video { 
  max-width: 1440px;
  max-height: 900px;
  width: 100%;


  object-fit: fill;
}

/*      VIDEO CONTROLL    */
.video-control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 85px;
  margin-bottom: 40px;
  background-color: #000;
}

.button-wrapper { height: 0; }

.screen-play-btn {
  position:relative;
  top: 230px;
  left: 610px;
}

.video-control-btn {
  display: none;

  fill: #b3b3b3;

  &:hover { 
    fill: #989898; 
  }
}

.video-control-btn.active { display: block;}



.time-range { 
  max-width: 929px; 
  background: linear-gradient(to right, $dark-red 0%, $dark-red 0%, #c4c4c4 0%, #c4c4c4 100%);

}

.volume-range { 
  max-width: 155px; 
  background: linear-gradient(to right, $dark-red 0%, $dark-red 40%, #c4c4c4 0%, #c4c4c4 100%);
}

.time-range,
.volume-range {
  width: 100%;
  height: 8px;
  outline: none;
  // transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.time-range::-webkit-slider-thumb,
.volume-range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}

/*    END VIDEO-CONTROL   */


  /* Styles for slider */

  @import "video_slider.scss";
