@media only screen and (max-width: 768px) { 
  .video-section {
    h2 { margin-bottom: 20px; }

  //   p { display: none; }
  }

  video { 
    max-width: 726px;
    max-height: 388px;

    margin-bottom: 20px;
  }

  /*      VIDEO CONTROLL    */
  // .video-control {
    // display: none;
    // height: 60px;
    // margin-bottom: 40px;
    // background-color: #000;
    // background-color: #fff;
  // }


    /* Styles for slider */

    @import "video_slider_768.scss";
}