.welcome-section {
  height: 810px;

  margin: 0 auto;
  padding: 0;

  .container {
    display: grid;
    grid-template-columns: minmax(auto, 440px ) minmax(auto, 158px) minmax(min-content, 242px) minmax(min-content, 152px);
    grid-template-rows: minmax(auto, 150px) minmax(auto, 180px) 
                        minmax(auto, 25px) minmax(auto, 33px) 
                        minmax(auto, 75px) minmax(auto, 75px) 
                        minmax(auto, 152px) minmax(auto, 60px)
                        minmax(auto, 60px);
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    h1 { 
      grid-area: 2 / 1 /3 / 4 ; 
      z-index: 5;
      margin-bottom: 0;
    }

    p {
      grid-area: 4 / 1 / 5/ 4;

      font-size: 28px;
      letter-spacing: 2px;
      margin: 0;
    }

    a {
      grid-area: 6 / 1 / 7 / 2 ;
      box-sizing: content-box;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 360px;
      height: 75px;

      color: #fff;
      font-weight: 300;
      letter-spacing: 2px;

      background-color: $dark-red;
      border-radius: 10px;

      transition: 0.1s;

      &:hover, 
      &:focus {
        background-color: $font-gold;
      }
    }
  }
}

.welcome-slider {
  grid-area: 1 / 2 / 9/ 5;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: 750px;
  width: 100%;
  overflow: hidden;
}

.welcome-slide {
  display: none;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;

  background-size: contain; 
  background-repeat: no-repeat;

  animation: 0.2s ease-in-out;
}

.slide1 { background-image: linear-gradient(to left, rgba($bg-dark, 0), rgba($bg-dark, 0) ,rgba($bg-dark, 0), rgba($bg-dark, 1)), url('../assets/1.jpg'); }
.slide2 { background-image: linear-gradient(to left, rgba($bg-dark, 0), rgba($bg-dark, 0) ,rgba($bg-dark, 0), rgba($bg-dark, 1)), url('../assets/2.jpg'); }
.slide3 { background-image: linear-gradient(to left, rgba($bg-dark, 0), rgba($bg-dark, 0) ,rgba($bg-dark, 0), rgba($bg-dark, 1)), url('../assets/3.jpg'); }
.slide4 { background-image: linear-gradient(to left, rgba($bg-dark, 0), rgba($bg-dark, 0) ,rgba($bg-dark, 0), rgba($bg-dark, 1)), url('../assets/4.jpg'); }
.slide5 { background-image: linear-gradient(to left, rgba($bg-dark, 0), rgba($bg-dark, 0) ,rgba($bg-dark, 0), rgba($bg-dark, 1)), url('../assets/5.jpg'); }

.welcome-slide.active,
.welcome-slide.next {
  display: block;
}

.next {
  position: absolute;
  top: 150;
  width: 100%;
}

.to-left { 
  animation-name: left; 
}

.from-right { 
  animation: right; 
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}


@keyframes left {

  from { left: 0; }  
  to { left: -100%; }
}

@keyframes right {
  from { left: 100%; }
  to { left: 0; }
}


.slide-control-wrapper {
  grid-area: 8 / 4 / 9 / 5;
  display: flex;

  // flex: auto 1 600px;

  z-index: 6;

  align-items: center;
  justify-content: space-evenly;


  width: 600px;
  height: 120px;

  font-size: 22px;
  font-weight: 400;

  background-color: $bg-dark;
}

.arrow-control {
  display: flex;
  justify-content: space-between;

  width: 80px;

  svg {
    fill: #fff;
    transition: 0.7s;

    &:hover {
      fill: $font-gold;
    }
  }
}

.arrow:hover { cursor: pointer;}

.square-control {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 180px;
}
.square {
  height: 16px;
  width: 16px;
  background-color: #fff;
  transition: 0.7s;

  &:first-of-type {
    background-color: $font-gold;
  }

  &:hover { 
    background-color: #9d8665;
    cursor: pointer;
  }
}