@media only screen and (max-width: 768px) {
 
  .explore-section { 

    h2 { text-align: left;}
    // h2:after { max-width: 984px; }
    
    p {
      display: none;
    //   margin-top: 0;
    //   margin-bottom: 0px;

    //   font-size: 20px;
    //   line-height: 35px;

    //   &:nth-of-type(2) {
    //     margin-bottom: 62px;
    //   }

    //   &:last-of-type {
    //     display: none;
    //   }
    }
    
    .container {
      flex-direction: column;
      align-items: unset;

        .text-content {
        max-width: 728px;
      }

      .slider-container {
        width: 380px;
        height: 368px;

        img {
          max-width: 380px;
          max-height: 368px;
        }
        .background-img {
          background-size: 380px 368px;
        }
      }
    }
  }
}

