@media only screen and (max-width: 768px) {
  .header-container {
    height: 110px;
    max-width: 728px;
  }

  .header-nav {
    top: 110px;
    left: -100%;
    width: 100%;
  }

  .header-nav-list { height: 100vh; }
  .header-nav.active { left: 0; }

  .header-nav-link {
    font-size: 20px;
    line-height: 23px;
    }
  }