@media only screen and (max-width: 420px) {

  .visiting-cards {
    height: auto;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-gap: 40px 50px;
    // justify-content: center;

    padding-bottom: 0;

    a img {
      width: 280px;
      height: 180px;
    }
  }

  .cards { 

    h3 {
      margin-top: 20px;

      font-size: 18px;
      line-height: 20px;
      letter-spacing: 5px; 

      // &::after {
      //   width: 150px;
      // }
    }

    p { 
      font-size: 16px;
      line-height: 19px;

      &:last-of-type {
        font-size: 16px;
        line-height: 19px;
        // margin-top: 10px;
      }
    }
  }
}