@media only screen and (max-width: 1024px) {
.welcome-section {
  padding: 0 20px;

.container {
  width: 100%;
  height: 585px;


  background-size: 700px 525px;

    .section-title {
      font-size: 50px;
      line-height: 90px ;
    }

      h1 { 
        margin-top: 50px;
      }

      p {
        margin-top: 25px; 
        margin-bottom: 50px;
        font-size: 24px;
      }

      a {
        width: 300px;
        height: 60px;

        margin-bottom: 0;

        font-size: 20px;
        }
      } 
    }
}

@import "welcome_slider_1024";