@media only screen and (max-width: 420px) {
   
  .slide-control-wrapper {

    // justify-content: center;
    // align-self: center;

    max-width:300px;
    height: 80px;

    margin-top: 285px;
    margin-bottom: 0px;

    font-size: 16px;
    // line-height: 40px;
    // font-weight: 400;

    // background-color: $bg-dark;
  }

  // #pipe { padding: 0 5px;}

  .arrow-control {
    box-sizing: content-box;
    padding-left: 25px;
    padding-right: 0;

    width: 55px;

    svg {
      width: 20px;
      height: 8px;
    }
  }

  // .square-control {
  //   width: auto;

  // }

  .square {
    box-sizing: content-box;
    // padding-left: 45px;

    height: 7px;
    width: 7px;

    margin-left: 10px;
    &:first-of-type {
    margin-left: 25px;

    }

  }
}